body, input {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
}

.send-column {
	min-width: 86px;
}
.go-column {
	min-width: 44px;
}
.code-column {
	min-width: 195px;
}
.to-column {
	min-width: 23px;
}
.url-column {
	min-width: 284px;
}
.button-column {
	min-width: 128px;
}

.alert {
	color: #a94442;
	background-color: #f2dede;
	padding: 15px;
	margin-bottom: 25px;
	border: 1px solid #f05e57;
	border-radius: 4px;

	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;

	display: none;
}

.alert.visible {
	display: block;
}

#code:active,
#code:focus,
#url:focus,
#url:active {
	border-color: #008CCC;
}

button {
	background-color: #008CCC;
	border-color: #008CCC;
}

#link {
	color: #008CCC;
}
#link:hover {
	color: #6ED2FF;
}

.container {
	padding-top: 2.5rem;
	margin-bottom: 0;
	max-width: 80.0rem;
	margin-left: 0;
}

label {
	line-height: 2.4em;
}

.collapse-padding {
	padding: 0 !important;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.short-link {
	padding-top: 0;
}
#link-container {
	max-height: 0;
	overflow: hidden;

	/* Set our transitions up. */
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}
#link-container.visible {
	max-height: 250px;
}

#code {
	width: 223px;
	position: absolute;
	left: 102px;
	padding-left: 32px;
}

@media (max-width: 915px) {
	h4 {
		margin-bottom: 0;
		font-size: 3rem;
	}

	.container {
		padding-top: 0;
	}

	#code {
		position: static;
	}
	.row {
		flex-direction: column
	}

	/* @HACK(jengler) 2016-02-26 */
	.row {
		margin-left: -1rem;
		width: calc(100% + 2.0rem);
	}
	.row .column {
		margin-bottom: inherit;
		padding: 0 1rem;
		padding-left: 0;
	}
	.row .code-column {
		position: absolute;
		top: 40px;
		left: 10px;
	}
	.row .go-column {
		margin-left: 5px;
	}
	.row .url-column {
		width: 284px;
	}
	.column.collapse-padding.to-column {
		position: absolute;
		top: 40px;
		left: 245px;
	}
	#url {
		padding-left: 4px;
	}
}

#did-you-mean {
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid #F0C36D;
	border-radius: 4px;
	background-color: #F9EDBE;
	text-align: center;
	padding: 15px;
	font-size: 1.6rem;

	display: none;
}

#did-you-mean a {
	color: #008CCC;
}
#did-you-mean a:hover {
	color: #606c76;
}

#did-you-mean.visible {
	display: block;
}

#search-button {
	margin-left: 20px;
}

.search-container {
	border: 1px solid lightgray;
	border-radius: 4px;
}

#short-search {
	height: 450px;

	display: none;
}

#short-search.visible {
	display: block;
}

.search-container .search-bar {
	margin: 8px;
	height: 38px;
}

.search-container .search-bar input {
	width: 25%;
}

.search-container .search-results {
	margin: 8px;
	height: calc(100% - 54px);
	overflow-y: scroll;
}

.search-container .search-results a {
	color: #008CCC;
}
.search-container .search-results a:hover {
	color: #606c76;
}

.go-dashboard {
	margin-left: 0;
	width: 100%;
}

.go-dashboard .column {
	height: 620px;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.topbar {
	background-color: #008CCC;
	text-align: center;
	padding: 10px 0;
	height: 58px;
	margin: -8px -8px 10px -8px;
}

#top-n {
	margin-left: 8px;
	max-width: 35%;
}

#top-n a {
	color: #008CCC;
}
#top-n a:hover {
	color: #606c76;
}

#top-n h5 {
	margin-bottom: 0;
}

#days-nav {
	margin: 8px;
}

#days-nav button {
	background-color: white;
	color: #008CCC;
	margin: 0 0 0 -6px;
	height: 30px;
	line-height: 10px;
	padding: 8px;
	width: 80px;
	border-radius: 0;
}
#days-nav button:first-of-type {
	border-radius: 4px 0 0 4px;
}
#days-nav button:last-of-type {
	border-radius: 0 4px 4px 0;
}
#days-nav button.selected {
	background-color: #008CCC;
	color: white;
}

.top-n-results table {
	margin-top: -8px;
}

.top-n-results tr {
	line-height: 20px;
}
